doctype html
html
    head
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            header
                h1 WeTube
            block content            
        include ../partials/footer